@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
    position: absolute;
  }

  .wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .back{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .form{
    width: 300px;
    min-height:fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #bbbaba2c;
    position: relative;
    align-items: center;
    justify-content: flex-start;
  }
  .form button{
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    /* font-weight: 400; */
  }
  .form button:nth-child(1){
    background-color: #0b96fa;
    color: white;
  }
  .form button:nth-child(2){
    background-color: #fff;


  }
  .form button:nth-child(3){
    background-color: #fff;
  }
  .form button img{
     width: auto;
     height: 35px;
  }
  .label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    gap: 10px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #ffffffc4;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
  }
  .hide{
    padding: 0px;
    height: 0px;
  }
  .name,
  .password{
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    border: none;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    padding: 5px;
    outline: none;
  }
  .erro{
    border: 1px solid red;
    background-color: #ffffff67;
    animation: no .5s ease-in-out;
  }
  @keyframes no{
    0%{
      transform: translate(-5px);
    }
    20%{
      transform: translate(5px);
    }
    40%{
      transform: translate(-4px);
    }
    60%{
      transform: translate(4px);
    }
    80%{
      transform: translate(-2px);
    }
    100%{
      transform: translate(0px);
    }
  }
  .label h2{
    font-size: 15px;
    font-weight: 500px;
    text-transform: capitalize;
  }
  .submit{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(171, 14, 233, 0.493);
  }
  .popup{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 28, 28, 0.205);
    position: absolute;
    backdrop-filter: blur(5px);
    transform: scale(0%);
  }
  .scale{
  transform: scale(100%);
  }
  .pop{
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .pop h1{
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .load{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid #fff;
    border-right: 2px solid #0b96fa;
    animation: rot 1s infinite forwards;
    /* background-color: #030423; */
    box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.466);
  }
  @keyframes rot {
    100%{
      transform: rotate(360deg);
    }
  }