@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    ---primary-font-colur:#fff8ff;
    ---secondry-fint-colur:#011627;
    ---background-color: #011627;
    ---tex-colur:#41EAD4;
    ---herd-font-size:65px;
    ---sub-herd-font-size:45px;
    ---cont-font-size:30px;
    ---text-font-size:16px;
    ---cont-main-font-size:20px;
    ---clint-back:#012643;
    ---green-back-ground:#369689;
}
.red{
    ---tex-colur:#ff0022;
    ---green-back-ground:#9f2938;
}
.popule{
    ---tex-colur:#b91372;
    ---green-back-ground:#752753;
}
.orange{
    ---tex-colur:orange;
    ---green-back-ground:rgb(189, 138, 42);
}
.dark-theme{
    ---clint-back:#ebeaea;
    ---background-color:#fff8ff;
    ---primary-font-colur:#011627;
    ---secondry-fint-colur:#fdfffc;
}
.row{
    display: flex;
}
.teo{
    display: none;
}
.column{
    display: flex;
    flex-direction:column;
}
.img-hide{
    display: none;
}
.f-rap{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: var(---background-color);
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.popup-ero{
    width: 350px;
    height: 200px;
    position:fixed;
    z-index: 1000;
    background-color: var(---primary-font-colur);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(---background-color);
    text-transform: capitalize;
    font-size: var(---cont-main-font-size);
    font-weight: 700;
    letter-spacing: .01em;
    transition: .5s ease-in-out;
    transform: scale(0);
}
.ero{
    transform: scale(1);
}
.theme{
    position: fixed;
    right: 3vw;
   bottom: 0;
    z-index: 10000;
}
.theme-brush svg{
    cursor: pointer;
     width: 50px;
     fill: var(---tex-colur);
     z-index: 100;
     position: relative;
}
.theme-row{
    position: absolute;
    top: 7%;
    width: 200px;
    margin: auto;
    z-index: 0;
    right: 100%;
    gap: 1.1vw;
    padding-right: 1vw;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: visible;
    transition: 1.5s ease-in-out;
}
.theme-row-out{
    opacity: 1;
    transform: translateX(0);
    pointer-events:visible;
}
.theme-row div{
    width: 30px;
    height: 30px;
    border-radius: 30000px;
    cursor:pointer;
}
.theme-row div:nth-child(1){
    background-color:#41EAD4;
}
.theme-row div:nth-child(2){
    background-color: #ff0022;
}
.theme-row div:nth-child(3){
    background-color: #b91372;
}
.theme-row div:nth-child(4){
    background-color: orange;
}
nav{
    width: 100%;
    justify-content: space-between;
    padding: 1vw 3vw;
    align-items: center;
}
.logo{
    font-size: var(---cont-font-size);
    color: var(---primary-font-colur);
    font-weight: 700;
    letter-spacing: .12em;
    gap: 1vw;
    align-items: center;
}
.logo .menu svg{
    fill: var(---tex-colur);
    width: 50px;
}
nav ul{
    width: 50%;
    justify-content: space-between;
}
nav ul li{
    font-size: var(---text-font-size);
    color: var(---primary-font-colur);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1vw;
    transition: 1s ease-in-out;
    cursor: pointer;
}
nav ul li::after{
    width: 1px;
    height: 50px;
    content: "";
    position:absolute;
    background-color: var(---tex-colur);
    z-index: -1;
    left: 0;
    transition: .7s ease-in-out;
}
nav ul li:hover{
    color: var(---secondry-fint-colur);
}
.row li:hover::after{
    width: 100%;
}
.color-theme{
    width: 30px;
    cursor: pointer;
}
nav a{
    width: fit-content;
}
nav button{
    border: none;
    width: 10vw;
    gap: 1vw;
    font-size: var(---text-font-size);
    color: var(---background-color);
    background-color: var(---tex-colur);
    height: 30px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding:  4px 10px;
    transition: 1s ease-in-out;
}

nav button svg {
   height: 100%;
   fill: var(---background-color);
}
nav button:hover{
    box-shadow: 0px 0px 10px 1px var(---primary-font-colur);
}
header{
    width: 100%;
    padding: 5vw 3vw;
    align-items: center;
}
.dis{
    width: 50%;
    justify-content: space-around;
    align-items: flex-start;
}
.caption{
    font-size: var(---herd-font-size);
    color: var(---primary-font-colur);
    font-weight: 800;
    letter-spacing: .1em;
    line-height: 70px;
}
.sub-caption{
    font-size: var(---sub-herd-font-size);
    color: var(---tex-colur);
    font-weight: 800;
    letter-spacing: .02em;
}
.dit{
    font: var(---cont-font-size);
    color: var(---primary-font-colur);
    font-weight: 800;
    width: 55%;
    letter-spacing: .05em;
    margin-top: 2vw;
}
.dit b{
    color: var(---tex-colur);
}
.map{
    margin-top: 3vw;
    color: var(---primary-font-colur);
    gap: 1.5vw;
}
.male-me svg{
    width: 50px;
    fill: var(---background-color);
}
.map-dit{
    width: 13vw;
    background-color: var(---clint-back);
    padding: 0px 20px;
    border-radius: 10px;   
}
.map-dit h1{
    font-size: var(---sub-herd-font-size);
    font-weight: 400;
}
.map-dit p{
    font-size:var(---cont-main-font-size);
    font-weight: 200;
}
.male-me{
    width: 60%;
    height: 100px;
    background-color: var(---primary-font-colur);
    margin-top: 2vw;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 1.5vw;
}
.male-me p{
    font-size: var(---text-font-size);
    color: var(---secondry-fint-colur);
}
.male-me h1{
    font-size: var(---cont-font-size);
    font-weight: 400;
    line-height: var(---cont-font-size);
    color: var(---secondry-fint-colur);
}
.ill-dis{
    position: relative;
}
.mes-pop{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15%;
    top: 30%;
    transform: rotate(45deg);
    height: 65px;
    border-radius: 10px;
    background-color: var(---primary-font-colur);
    position: absolute;
    z-index: 1000;
    text-transform: capitalize;
    font-size: var(---cont-main-font-size);
    font-weight: 600;
    color: var(---background-color);
}
.ill{
    width: 35vw;
    background-color: var(---tex-colur);
    height: 35vw;
    border-radius: 1000000000px;
    overflow: hidden;
    position: relative;
}
.ill img{
    width: 70%;
    position: absolute;
    bottom: -1%;
    left: 1%;
}
.proses{
    margin-top: 5vw;
    padding: 00vw 3vw;
    width: 100%;
    position: relative;
}
.proses h1{
    margin-bottom: 3vw;
    color: var(---tex-colur);
    font-size: var(---sub-herd-font-size);
    font-weight: 300;
}
.scrolabll{
    width: 100%;
    display: flex;
    align-items: center;
}
.pros-div{
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.pros-dit{
    width: 28vw;
    height: 450px;
    border-radius: 10px;
    padding: 3vw;
    border: 1px dashed var(---primary-font-colur);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vw;
}
.pros-dit h2{
    font-size: var(---cont-font-size);
    color: var(---tex-colur);
    font-weight: 300;
}
.pros-dit p{
    font-size: var(---text-font-size);
    color: var(---primary-font-colur);
    font-weight: 400;
}
.pros-dit p b{
    font-weight: 700;
    letter-spacing: .05em;
}
.my-work{
    margin-top: 5vw;
    padding: 0vw 3vw;
    width: 100vw;
}
.my-work h1{
    margin-bottom: 3vw;
    color: var(---tex-colur);
    font-size: var(---sub-herd-font-size);
    font-weight: 300;
}
.slide{
    position: relative;
    height: 450px;
    align-items: center;
    width:95%;
    align-self: center;
}
.moveright svg,
.moveleft svg{
    width: 100px;
    fill: var(---tex-colur);
}
.moveleft svg{
     transform: rotate(180deg);
}
.moveleft,
.moveright{
    height: 50%;
    width: 10vw;
    background-color:var(---background-color);
    opacity: .1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s linear;
}
.moveleft:hover,
.moveright:hover{
   opacity: .8;
}
.moveright{
    right: 0;
}
.main-sild{
    overflow: hidden;
    width: 100vw;
}
.sli{
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 2vw;
}
.work{
    width:500px;
    height: 450px;
    justify-content: space-between;
}
.more{
    color: var(---primary-font-colur);
    align-self: flex-end;
    margin-bottom: 2vw;
    font-size: var(---text-font-size);
    font-weight: 400;
}
.work .dit{
    width: 100%;
}
.work .dit h2{
    font-size: var(---cont-font-size);
    color: var(---primary-font-colur);
    font-weight: 400;
}
.work .dit p{
    font-size: var(---text-font-size);
    font-weight: 300;
    color: var(---primary-font-colur);
}
.git{
    width: 100%;
  justify-content: space-between;
  align-items: center;
}
.work .dit h3{
    font-size: var(---text-font-size);
    font-weight: 700;
    color: var(---tex-colur);
}

.work img{
    width: 100%;
    height: 280px;
    border-radius: 5px;
}
.git-svg svg{
    width: 50px;
    fill: var(---tex-colur);
}
.revil{
    width: 100%;
    padding: 3vw 3vw;
}
.revil h1{
    margin-bottom: 3vw;
    color: var(---tex-colur);
    font-size: var(---sub-herd-font-size);
    font-weight: 300;
}
.rev{
    justify-content: space-between;
    width: 100%;
}
.rev-dit{
    width: 28vw;
    border-radius: 10px;
    background-color: var(---clint-back);
    padding: 2vw;
    pointer-events: none;
}
.rev-dit .clayent p{
    font-weight: 800;
    letter-spacing: .1em;
    line-height: var(---text-font-size);
}
.rev-dit p{
    font-size: var(---text-font-size);
    width: 85%;
    line-height: var(---cont-font-size);
    font-weight: 300;
    color: var(---primary-font-colur);
}

.clayent b{
    font-size: var(---text-font-size);
    width: 85%;
    line-height: var(---cont-font-size);
    font-weight: 400;
    color:var(---tex-colur);
    line-height: var(---text-font-size);
}
footer{
    width: 100%;
    padding: 2vw 3vw;
}
footer hr{
    border:none;
    height: 1px;
    background-color: var(---clint-back);
}
.ani{
    width: 50%;
}
.ani h1{
    margin-bottom: 3vw;
    color: var(---primary-font-colur);
    font-size: var(---sub-herd-font-size);
    font-weight: 300;
}
.ani .input{
    width: 100%;
    position: relative;
}
.input textarea{
    width: 100%;
    border-radius: 10px;
    height: 60px;
    padding: .8vw 2vw;
    font-size: var(---text-font-size);
    color: var(---background-color);
    padding-right: 23%;
    overflow: visible;
    outline: none;
    font-weight: 500;
    background-color: var(---primary-font-colur);
}
textarea::-webkit-scrollbar{
    width: 10px;
}
textarea::-webkit-scrollbar-track{
    background-color: transparent;
}
textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(---tex-colur);
    border: 3.5px solid var(---primary-font-colur);
}
.input button{
    width: 20%;
    height: 50px;
    border: none;
    background-color: var(---background-color);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: var(---primary-font-colur);
    font-size: var(---text-font-size);
    border-radius: 5px;
    top:10%;
    margin: auto;
    right: 2%;
    position: absolute;
}
.send-ani-svg svg{
    fill: var(---primary-font-colur);
    width: 25px;
}
.soshals{
    margin-top: 2vw;
}
.sos-icon{
    width: 50%;
    margin-top: 3vw;
    margin-bottom: 7vw;
    gap: 3vw;
}
.sos-icon svg{
    width: 50px;
    transition: .5s ease-in-out;
    fill: var(---primary-font-colur);
}
.sos-icon svg:hover{
    fill: var(---tex-colur);
    width: 55px;
}













/* contact page */
.div{
    align-items: center;
    gap: 100px;
    width: fit-content;
}
.div button{
    width: 12vw;
}
.contact-sec{
    width: 100%;
    padding: 0vw 10vw;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vw;
    margin-top: 5vw;
}
.form{
    margin-left: 0vw;
    margin-top: 0vw;
    width: 37%;
    padding: 2vw 3vw;
    background-color: var(---clint-back);
    border-radius: 20px;
    gap: 1vw;
    align-items: center;
}
.form label:not(.last){
    width: 100%;
    background-color:var(---background-color);
    height: 100px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px 10px;
    color: var(---primary-font-colur);
    text-transform: capitalize;
    position: relative;
    font-size: var(---text-font-size);
    outline: none;
}
.form label:not(.last) input{
    border: none;
    background-color:var(---green-back-ground);
    font-size: var(---cont-main-font-size);
    color: var(---background-color);
    height: 50%;
    border-radius: 5px;
    padding: 0px 3vw;
    outline: none;
    font-weight: 500;
}
.last textarea::placeholder,
.form label:not(.last) input::placeholder{
    color: var(---background-color);
    text-transform: capitalize;
    font-size: var(---text-font-size);
}
.form label:not(.last) hr{
    position: absolute;
    width: 0%;
    top: 0;
    bottom: 10px;
    border: none;
    left: 3vw;
    height: 10px;
    background-color:var(---tex-colur);
    transition: .5s ease-in-out;
}
.form label:not(.last) input:focus + hr{
    width: 85%;
}
form label:not(.last) input:focus-visible + hr{
    width: 85%;
}
.form label textarea:focus ,
.form label textarea:focus-visible ,
.form label:not(.last) input:focus,
.form label:not(.last) input:focus-visible{
    background-color: transparent;
    color: var(---primary-font-colur);
}
.form-svg{
    position: absolute;
    bottom: 5px;
    left: 20px;
    fill: var(---background-color);
}
.form-svg svg{
    width: 30px;
    fill: var(---background-color);
}
.form label textarea:focus + .form-svg svg,
.form label textarea:focus-visible + .form-svg svg,
.form label:not(.last) input:focus + .form-svg svg,
.form label:not(.last) input:focus-visible + .form-svg svg{
    fill: var(---primary-font-colur);
}
.last{
    border: none;
    background-color:var(---background-color);
    font-size: var(---text-font-size);
    color: var(---primary-font-colur);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    height: 130px;
    justify-content: space-between;
    position: relative;
}
.last textarea{
    border: none;
    background-color:var(---green-back-ground);
    font-size: var(---cont-main-font-size);
    color: var(---background-color);
    height: 60%;
    border-radius: 5px;
    padding-left: 3vw;
    outline: none;
    font-weight: 500;
}
.last textarea::-webkit-scrollbar-thumb{
    border: 3.5px solid var(---green-back-ground);
    background-color: var(---background-color);
}
.last .form-svg {
    top: 55%;
}
.form button{
    width: 70%;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: var(---background-color);
    color: var(---primary-font-colur);
    font-size: var(---cont-main-font-size);
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    cursor: pointer;
    background-color:var(---tex-colur);
}
.form-ill-svg svg{
    width: 100%;
}
.form-ill-svg-mobile{
    display: none;
}







.nav{
    position: fixed;
    bottom: 20vh;
    right: 3vw;
    z-index: 10000000;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}
.nul{
    overflow-y: hidden;
    width: 200px;
    height: 0px;
    transition: 1s ease-in-out;
    margin-bottom: 20px;
    position: absolute;
    bottom:40px;
}
.nav ul{
    background-color:var(---clint-back);
    justify-content: space-between;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 1s ease-in-out;
}
.nav ul li:not(.li){
    display: flex;
    gap: 12%;
    align-items: center;
    width: 100%;
    justify-content: right;
    font-size: var(---text-font-size);
    color: var(---primary-font-colur);
    border-radius: 5px;
    transition: .5s ease-in-out;
    height: 20%;
    padding: 0px 10px;
    cursor: pointer;
}
.nav ul li:not(.li):hover{
    background-color: var(---background-color);
}
.li{
    display: flex;
    gap: 20%;
    align-items: center;
    width: 100%;
    justify-content: right;
    padding: 20px 10px;
}
.ul{
    height: 370px;
}

.nav-nav svg{
    width: 20px;
    fill: var(---green-back-ground);
    cursor: pointer;
}
.out-nav-svg svg{
    width: 50px;
    fill: var(---green-back-ground);
    cursor: pointer;
}
.nav-bug-svg svg{
    width: 60px;
    fill: var(---tex-colur);
    cursor: pointer;
}
.nav-bug-svg{
    transition: 1s ease-in-out;
    height: 60px;
    overflow: hidden;
}
.buggerout{
    height: 0px;
}







.search-cont{
    width: fit-content;
    gap: 20px;
    align-items: flex-start;
    position: relative;
}
.search{
   background-color:var(---clint-back);
   border-radius: 10px;
   width:190px;
   height: 40px;
   border: 2px solid var(---clint-back);
   outline: none;
   color: var(---primary-font-colur);
   padding: 10px;
   font-size: var(---text-font-size);
}
.search-cont input:focus{
    border: 1px solid var(---green-back-ground);
}
.filter{
    background-color: var(---clint-back);
    width: 190px;
    height: 40px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    color: var(---primary-font-colur);
    font-size:var(---text-font-size);
    position: relative;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
.filter img{
    background-color: var(---background-color);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding:10px 8px; 
    cursor: pointer;
}
.select{
    position: relative;
}
.sector-items{
    position: absolute;
    top: 120%;
    background-color: var(---clint-back);
    width: 100%;
    padding: 10px 10px;
    gap: 10px;
    border-radius: 10px;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 0;
    transition: .5s ease-in-out;
    pointer-events: none;
    overflow: hidden;
    pointer-events: all;
}

.selt-out{
   transform: translateY(0%);
   opacity: 1;
   transition: .5s ease-in-out;
   pointer-events: all;
}
.un-set{
    transform: rotate(180deg);
}
.it{
    opacity: 0;
    pointer-events: none;
}
.sector-items span{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(---primary-font-colur);
    font-size: var(---text-font-size);
    cursor: pointer;
}
.sector-items span:hover{
    background-color:var(---background-color);
}

.no-of-works{
    background-color: var(---tex-colur);
   min-width: 50px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}
.cont-search{
    padding: 5vw 3vw;
    gap: 2.5%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.work-h{
    margin-top: 1vw;
    display: none;
}
.search-item-work{
    margin-top: 1%;
    display: block;
}










@media screen and (max-width :1500px) {
    :root{
        ---text-font-size:16px;
        ---herd-font-size:55px;
        ---sub-herd-font-size:40px;
        ---cont-font-size:20px;
        ---cont-main-font-size:18px;
    }
    .pros-dit{
        height:340px;
    }
    .work{
        height: fit-content;
    }
    header{
        justify-content: space-around;
        align-items: center;
    }
    .ill{
        width: 40vw;
        height: 40vw;
    }
}
@media screen and (max-width :1200px) {
    .divv{
        gap: 10px;
        width: fit-content;
    }
    .cont-search{
        width: 850px;
    }
    .divv{
        width: 100%;
        justify-content: space-between;
    }
    :root{
        ---text-font-size:8px;
        ---herd-font-size:55px;
        ---sub-herd-font-size:40px;
        ---cont-font-size:20px;
        ---cont-main-font-size:16px;
    }
    .teo{
        display: flex;
    }
    .one{
        display: none;
    }
    nav ul{
        width: 60%;
    }
    .logo .menu svg{
        width: 40px;
    }
    nav ul li::after{
        height: 40px;
    }
    nav button{
        height: 40px;
        width: fit-content;
    }
    header{
        flex-direction: column;
        gap: 100px;
    }
    .dis{
        width: 80%;
    }
    .male-me{
        height: 70px;
        align-items: center;
        width: 50%;
    }
    .mes-pop{
        right: 0%;
        top: 10%;
    }
    .pros-dit{
        height: 240px;
    }
    .work{
        width: 360px;
    }
    .work img{
        height: 240px;
    }
    .form{
        width: 55%;
    }
    .form label:not(.last) input {
        padding-left: 5vw;
    }
    .last textarea{
        padding-left: 5vw;
    }
    .div button{
        width: fit-content;
    }
}
@media screen and (max-width :900px ) {
    :root{
        ---text-font-size:16px;
        ---herd-font-size:45px;
        ---sub-herd-font-size:30px;
        ---cont-font-size:20px;
        ---cont-main-font-size:18px;
    }
    .to-hide{
        display: none;
    }
    .cont-search{
        width: 770px;
    }
    .row ul{
        display: none;
        color: var();
    }
    .one{
        display: none;
    }
    
    .nav{
        display: flex;
    }
    .ill{
        width:55vw;
        height: 55vw;
    }
    nav img{
        display: none;
    }
    .map-dit{
        width: 25vw;
        text-align: center;
        background-color: var(---clint-back);
        padding: 0px 20px;
        border-radius: 10px;
    }
    .dis{
        align-items: center;
    }
    .dis-dit{
        text-align: center;

        align-items: center;
    }
    .scrolabll{
        position: relative;
        overflow: scroll;
        padding-bottom: 20px;
    }
    .scrolabll::-webkit-scrollbar{
        height: 10px;
    }
    .scrolabll::-webkit-scrollbar-thumb{
        background-color:var(---primary-font-colur);
        border-radius: 10000px;
        border: 3px solid var(---background-color);
    }
    .rev{
        width: fit-content;
        gap: 20px;
    }
    .rev-dit{
        width: 350px;
    }
    
    .pros-div{
        gap: 2%;
    }
    .pros-dit{
        width: 360px;
        height: 280px;
    }
    .ani{
        width: 80%;
    }
    .contact-sec{
        flex-direction:column;
        gap: 10px;
        align-items: center;
    }
    .form-ill-svg{
        display: none;
    }
    .form-ill-svg-mobile{
        display: block;
        margin-bottom: 0;
        position: relative;
    }
    .form-ill-svg-mobile svg{
        width: 100%;
        margin-bottom: 0;
        height: 300px;
    }
    .form{
        width: 80%;
    }
    nav{
        position: relative;
    }
    .search-cont{
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .cont-search{
        gap: 2%;
        padding: 20vw 2vw;
    }
    .div{
        gap:1vw;
    }
    .divv{
        margin-top: 5vw;
    }
}
@media screen and (max-width :550px) {
    :root{
        ---text-font-size:10px;
        ---herd-font-size:40px;
        ---sub-herd-font-size:20px;
        ---cont-font-size:20px;
        ---cont-main-font-size:16px;
    }
    .map-dit {
        width: 30vw;
        text-align: center;
        background-color: var(---clint-back);
        padding: 0px 5px;
        border-radius: 10px;
    }
    
    .dit{
        width: 100%;
    }
    .ani{
        width: 100%;
    }
    .proses .pros-dit{
        height:200px;
    }
    .work{
        width: 300px;
    }
    .ill{
        width:90vw;
        height: 90vw;
    }
    .work img{
        height: 200px;
    }
    .moveleft,
    .moveright{
        height: fit-content;
        opacity: 1;
        background-color: transparent;
    }
    .male-me {
        height: 70px;
        align-items: center;
        width: fit-content;
    }
    .form{
        width: 100%;
    }
    .form label:not(.last) input {
       
        padding: 0px 10vw;
      
    }
    .last textarea {
     
        padding-left: 10vw;
   
    }
    .cont-search{
        flex-wrap:nowrap;
        flex-direction: column;
        width: fit-content;

       }
}
    @media screen and (max-width : 490px) {
        :root{
            ---text-font-size:10px;
            ---herd-font-size:40px;
            ---sub-herd-font-size:20px;
            ---cont-font-size:20px;
            ---cont-main-font-size:13px;
        }
        .popup-ero{
            width: 200px;
            height: 150px;
        }
        .contact-sec {
            width: 100%;
            padding: 0vw 10px;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10vw;
            margin-top: 5vw;
        }
        .form label:not(.last) input {
         
            padding-left: 13vw;
           
        }
        .last textarea {
     
            padding-left: 13vw;
       
        }
        .search{
        width: 0px;
        padding: 0px ;
        border: 0px;
        transition: .5s ease;
       }
       .filter{
        width: 0px;
        padding: 0px;
        overflow: hidden;
        transition: .5s ease;
       }
       .img-hide{
        display: flex;
        height: 40px;
        width: 40px;
        background-color: var(---tex-colur);
        border-radius: 10px;
        padding: 10px;
       }
       .cont-search{
        flex-wrap:nowrap;
        flex-direction: column;
        width: fit-content;
       }
       .show{
        width: 190px;
        height: 40px;
        padding: 10px;
       }
    }